body {
  color: rgb(150, 150, 150);
  background-color: rgb(34, 34, 34);
  margin: 0;
  max-width: 80vw;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /* padding: 4rem 1rem; */
  /* color: rgb(220, 220, 220); */
}

.content {
  z-index: 1;
  padding: 4vw;
}

h1 {
  font-size: 1.5rem;
  /* color: rgb(200, 200, 200); */
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

button {
  display: block;
  padding: 12px 24px;
  border: solid 1px rgb(150, 150, 150);
  color: rgb(150, 150, 150);
  background-color: rgb(34, 34, 34);
}

button:hover {
  cursor: pointer;;
}

hr {
  border-color: rgb(71, 71, 71);
  width: 18vw;
  margin-left: 0px;
  margin-right: auto;
}

ul {
  list-style: none;
  padding-left: 1vw;
}

li {
  font-size: 0.8rem;
  color: rgba(168, 168, 168, 0.7);
}

li:hover {
  color: rgba(255, 175, 175, 0.8);
  cursor: pointer;
}

iframe {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 45vh;
}

.hidden {
  display: none;
}

#profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  margin-right: 0px;
}

#myPlaylistsHeading img {
  width: 2rem;
  height: 2rem;
  border-radius: 99px;
  margin-right: 1vw;
}

#playlists-container.hidden {
  border: 0px;
}

#playlists-container {
  width: 24vw;
  padding: 2vh;
  border: solid 1px rgb(71, 71, 71);
  margin-top: 32vh;
}

#canvas {
  width: 100%;
  height: 100%;
}